body {
  color: #224344;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: white;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
  padding: 2rem;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: #224344;
  padding: 12px;
  /* text-decoration: none; */
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
}

/* Links on mouse-over */
#navbar a:hover {
  /* background-color: #224344; */
  /* color: white; */
  text-decoration: #224344;
}

/* Style the active/current link */
#navbar a.active {
  background-color: #224344;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}


@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
  }
  #navbar-right {
    float: none;
  }
  .sponsors-logo {
    margin-top: 200px !important;
  }
}

.header {
  margin-top: 20px;
}

.sponsors-logo {
  margin-top: 150px;
}

.logo {
  color: #224344;
}

.logo-slogan {
  font-weight: bold;
}

.register {
  margin-top: 2em;
}

.timer {
  font-size: 3em;
  font-weight: 100;
  color: white;
  text-shadow: 0 0 20px #48c8ff;
  background-color: #224344;
  border-radius: 15px;
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.timer > div {
  display: inline-block;
  min-width: 90px;
}

.timer > div > span {
  color: #b1cdf1;
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}

.call-to-register {
  background-color: #224344;
  color: white;
  padding: 1rem 0;
  margin: 1rem 3rem;
  border-radius: 0.5rem;
}

.register-now {
  border: none;
  background-color: white;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: block;
  color: #224344;
  text-shadow: none;
  width: 50%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-decoration: none;
}

.register-now:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: #224344;
}

.introduction {
  margin-top: 4rem;
  border: 0.5rem solid #224344;
  border-radius: 1.5rem;
  padding: 2rem;
}

.introduction h2 {
  font-weight: bold;
}

.introduction-description {
  font-size: 1.2rem;
}

.reason {
  margin-top: 4rem;
  padding: 2rem;
}

.reason p {
  font-size: 1.2rem;
}

.join-condition div {
  font-size: 1.3rem;
}

.join-condition i {
  font-weight: bold;
  font-size: 1.5rem;
}

.prize {
  margin-top: 3rem;
}

.prize-column {
  background-color: #224344;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.prize-item {
  background-color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  color: #224344;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 2rem;
}

.other-prize {
  font-size: 1.3rem;
}

.timeline {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
  font-size: 1.2rem !important;
}

.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px dashed #224344;
  height: 100%;
  display: block;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}
.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  color: #224344;
  font-size: 1.5rem;
}
.timeline-row .timeline-time small {
  display: block;
  font-size: 1.2rem;
}
.timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: #0e3a3a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: #083636;
}
.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -49px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background: #272e48;
  border: 2px dashed #4b546f;
}
.timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
}
.timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}
.timeline-row .timeline-content i {
  font-size: 1.5rem;
  line-height: 100%;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #272e48;
  margin-bottom: 10px;
  display: inline-block;
}
.timeline-row .timeline-content .thumbs {
  margin-bottom: 20px;
  display: flex;
}
.timeline-row .timeline-content .thumbs img {
  margin: 5px;
  max-width: 60px;
}
.timeline-row .timeline-content .badge {
  color: #ffffff;
  background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}
.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}

@media (max-width: 992px) {
  .timeline {
    padding: 15px;
  }
  .timeline:after {
    border: 0;
  }
  .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:before {
    display: none;
  }
  .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}

.timeline-row .timeline-content ul {
  text-align: left;
}

/* .expert {
  border: 0.5rem solid #224344;
  padding: 1rem 0;
  border-radius: 2rem;
} */

#hackathon-contact {
  color: white;
  background-color: #224344;
  padding: 40px 20px;
}

#hackathon-contact a {
  text-decoration: white !important;
  color: rgb(67, 198, 238);
}